# PyMine config / unnecessary files
server.yml
server-icon.png
plugins/*

bigtest.nbt
nantest.nbt

# VirtualEnv
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/

# Sh-wayz's shit
/tags
.tmuxinator.yml
