server.yml

server-icon.png

plugins/*
!plugins/example-plugin/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/

# Sh-wayz's shit
/tags
.tmuxinator.yml
