# PyMine config / unnecessary files
server.yml
server-icon.png
plugins/*

# VirtualEnv
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/

# Testing / pytest
.pytest_cache

# Sh-wayz's shit
/tags
.tmuxinator.yml

# vscode is the best editor
.vscode/ 