aiofile==3.4.0
aiohttp==3.7.4
async-timeout==3.0.1
asyncio-dgram==1.2.0
attrs==20.3.0
caio==0.7.0
cffi==1.14.5
chardet==3.0.4
colorama==0.4.4
cryptography==3.4.6
gitdb==4.0.5
GitPython==3.1.13
idna==3.1
immutables==0.15
multidict==5.1.0
mutf8==1.0.3
numpy==1.20.1
pycparser==2.20
PyYAML==5.4.1
smmap==3.0.5
typing-extensions==3.7.4.3
yarl==1.6.3
prompt-toolkit==3.0.16

sphinx-tabs